[user]
	name = Gustavo Blanco
	email = gustavo.jr.blanco@gmail.com
	signingkey = ~/.ssh/id_rsa.pub
[github]
	user = goosetacob
[core]
	editor = nvim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = ~/.gitexcludesfile
[interactive]
	diffFilter = diff-so-fancy --patch
[push]
	default = current
[init]
	defaultBranch = main
[color]
	ui = auto
[mergetool "nvim"]
	cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"
[merge]
	tool = nvim
	conflictstyle = diff3
[mergetool]
	prompt = false
	keepBackup = false
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[alias]
	recent-branches = for-each-ref --sort=-committerdate refs/heads/ --count=15 --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
	lg = log --all --graph --format=oneline
[gpg]
	format = ssh
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
