[submodule "zsh/.config/zsh/pure"]
	path = zsh/.config/zsh/pure
	url = https://github.com/sindresorhus/pure
	branch = main
[submodule "zsh/.config/ohmyzsh"]
	path = zsh/.config/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "zsh/.local/share/ohmyzsh/custom/plugins/zsh-syntax-highlighting"]
	path = zsh/.local/share/ohmyzsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "zsh/.local/share/ohmyzsh/custom/plugins/zsh-autosuggestions"]
	path = zsh/.local/share/ohmyzsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "personal/.local/bin/lua-language-server"]
	path = personal/.local/bin/lua-language-server
	url = https://github.com/sumneko/lua-language-server
