[submodule "home/.config/ohmyzsh"]
	path = home/.config/ohmyzsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule "home/.local/share/ohmyzsh/custom/plugins/zsh-syntax-highlighting"]
	path = home/.local/share/ohmyzsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "home/.local/share/ohmyzsh/custom/plugins/zsh-autosuggestions"]
	path = home/.local/share/ohmyzsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "home/.local/share/ohmyzsh/custom/plugins/zsh-async"]
	path = home/.local/share/ohmyzsh/custom/plugins/zsh-async
	url = https://github.com/mafredri/zsh-async
